@charset "UTF-8";

@font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 700;
    src: url('http://themes.googleusercontent.com/static/fonts/lato/v5/sBtfDPlEIwvKKU53nAG7AQ.eot');
    src: local('Lato Bold'), local('Lato-Bold'), url('http://themes.googleusercontent.com/static/fonts/lato/v5/sBtfDPlEIwvKKU53nAG7AQ.eot') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/lato/v5/wkfQbvfT_02e2IWO3yYueQ.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('http://themes.googleusercontent.com/static/fonts/lato/v5/nQhiC-wSiJx0pvEuJl8d8A.eot');
    src: local('Lato Regular'), local('Lato-Regular'), url('http://themes.googleusercontent.com/static/fonts/lato/v5/nQhiC-wSiJx0pvEuJl8d8A.eot') format('embedded-opentype'), url('http://themes.googleusercontent.com/static/fonts/lato/v5/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff');
}

html * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, Verdana, sans-serif;
    font-size: 11pt;
    background: #fdfdfd url(/images/theme/tile-bg.png) top left repeat;
    width: 99.9%;
}

/* Page layout */

#wrap {
    background: transparent url(/images/theme/header-bg-new.png) top center repeat-x;
    min-width: 1020px;
}

#header, #content, #footer {
    margin: 0 auto;
    /*width: 1020px;*/
}

/* Header */

#header .logo {
    height: 70px;
    padding-top: 6px;
    float: left;
}

#header .logo img {
    border-collapse: collapse;
    border: none;
}

/* Header user name/logout */

#header #user {
    float: right;
    font-size: 9pt;
    font-weight: bold;
    color: #144f4f;
    padding: 15px 15px 0;
}

#header #user a {
    font-weight: bold;
    text-decoration: none;
    color: #144f4f;
}

#header #user a:active,
#header #user a:focus,
#header #user a:hover {
    color: #229396;
}

/* Navigation bar */

#header #nav {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    background: #699 url(/images/theme/tab-bg5-new.png) top center no-repeat;
    /*    background: #3f5765 url(/images/theme/tab-bg-2.7.2c.png) top center no-repeat; */
    list-style: none;
    clear: both;
}

/* Navigation tab styles */

#header #nav a {
    color: #fff;
    text-decoration: none;
}

#header #nav img {
    vertical-align: middle;
}

#header #nav .tab a {
    color: #144f4f;
    background: url(/images/theme/tab-bg5-new.png) top center no-repeat;
    height: 30px;
}

#header #nav .selected a,
#header #nav a:active,
#header #nav a:focus,
#header #nav a:hover {
    color: #fff;
}

#header #nav .home a {
    float: left;
    padding: 10px 25px 0 35px;
    background-position: left top;
}

#header #nav .home.selected a,
#header #nav .home a:active,
#header #nav .home a:focus,
#header #nav .home a:hover {
    background-position: left -40px;
}

#header #nav .normal a {
    float: left;
    padding: 10px 25px 0 25px;
    background-position: -20px top;
}

#header #nav .normal.selected a,
#header #nav .normal a:active,
#header #nav .normal a:focus,
#header #nav .normal a:hover {
    background-position: -20px -40px;
}

#header #nav .tab.last {
    float: right;
    position: relative;
}

#header #nav .last a {
    float: right;
    padding: 10px 25px 0 25px;
    background-position: right 0;
}

#header #nav .last.selected a,
#header #nav .last a:active,
#header #nav .last a:focus,
#header #nav .last a:hover {
    background-position: right -40px;
}

/* Dropdown menu */

#header #nav li {
    float: left;
    position: relative;
}

#header #nav .tab ul {
    list-style: none;
    position: absolute;
    margin-top: 40px;
    background-color: #dff7f7;
    /*	left: -9999px;	*/
    display: none;
}

#header #nav .tab ul li {
    background-color: #dff7f7;
    display: block;
    width: 100%;
}

#header #nav .tab ul li:active,
#header #nav .tab ul li:focus,
#header #nav .tab ul li:hover {
    background-color: #229396;
}

#header #nav li:active ul,
#header #nav li:focus ul,
#header #nav li:hover ul {
    /*	left: 0;	*/
    display: block;
}

#header #nav .tab ul a {
    float: left;
    white-space: nowrap;
}

#header #nav .tab li a {
    color: #144f4f;
    background-image: none;
    height: 20px;
    padding: 6px 25px;
}

#header #nav .tab li a:active,
#header #nav .tab li a:focus,
#header #nav .tab li a:hover {
    color: #fff;
}

/* Preserve tab highlight when dropdown shown */

#header #nav li.tab {
    background: url(/images/theme/tab-bg5-new.png) top center no-repeat;
    /*    background: url(/images/theme/tab-bg-2.7.2c.png) top center no-repeat; */
    height: 40px;
}

#header #nav li.tab:hover a {
    background-image: none;
}

#header #nav li.tab.home {
    background-position: left top;
}

#header #nav li.tab.home:active,
#header #nav li.tab.home:focus,
#header #nav li.tab.home:hover {
    background-position: left -40px;
}

#header #nav li.tab.normal {
    background-position: -20px top;
}

#header #nav li.tab.normal:active,
#header #nav li.tab.normal:focus,
#header #nav li.tab.normal:hover {
    background-position: -20px -40px;
}

#header #nav li.tab.last {
    background-position: right top;
}

#header #nav li.tab.last:active,
#header #nav li.tab.last:focus,
#header #nav li.tab.last:hover {
    background-position: right -40px;
}

/* Breadcrumb */

#header ul#breadcrumb {
    clear: both;
    list-style-type: none;
    padding-top: 3px;
    padding-left: 10px;
}

#header ul#breadcrumb li {
    float: left;
    font-size: 8pt;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    background: #fdfdfd url(/images/theme/bread.png) 0 1px no-repeat;
    padding: 0 10px 0 12px;
    line-height: 11px;
}

#header ul#breadcrumb li:hover {
    background-position: 0 -10px;
}

#header ul#breadcrumb li a {
    font-weight: bold;
    color: #144f4f;
    text-decoration: none;
}

#header ul#breadcrumb li a:active,
#header ul#breadcrumb li a:focus,
#header ul#breadcrumb li a:hover {
    color: #c83400;
}

/* ***************************************************************************************************************** *
 * General content styles
 * ***************************************************************************************************************** */

#content {
    color: #333;
    margin-left: 8px;
    margin-right: 8px;
}

#content p {
    font-size: 11pt;
    padding: 6px 0;
}

#content h1,
#content h2,
#content h3,
#content h4 {
    padding-top: 6px;
}

#content h1 {
    font-size: 18pt;
    padding-bottom: 6px;
}

#content h2 {
    font-size: 14pt;
}

#content h3 {
    font-size: 13pt;
}

#content h4 {
    font-size: 11pt;
}

#content ol,
#content ul {
    padding: 6px 36px;
}

#content a {
    color: #229396;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #229396;
}

#content a:active,
#content a:focus,
#content a:hover {
    color: #c83400;
    font-weight: bold;
    border-bottom: 1px solid #c83400;
}

#content blockquote {
    padding: 6px 30px;
    font-size: 10pt;
}

/* Standard content table layout */

#content table.standard {
    width: 100%;
    border: 1px solid #999;
    border-collapse: collapse;
    font-size: 10pt;
    margin-top: 6px;
    margin-bottom: 6px;
}

#content table.standard caption {
    background-color: #999;
    text-align: left;
    font-weight: bold;
    font-size: 11pt;
    padding: 4px;
}

#content table.standard th .search {
    margin: 0 25%;
    width: 50%;
}

#content table.standard th {
    background-color: #f0f0f0;
    border-bottom: 1px solid #999;
    text-align: left;
    padding: 4px 6px;
}

#content table.standard tr:hover td {
    background-color: #99cccc;
}

#content table.standard tr.odd {
    background-color: #fdfdfd;
}

#content table.standard tr.even {
    background-color: #fbfbfb;
}

#content table.standard td {
    padding: 4px 6px;
    margin: 0;
}

/* Box layouts */

#content .section {
    clear: both;
}

#content .box {
    float: left;
    background-color: #fdfdfd;
}

#content .box .box-top {
    height: 20px;
}

#content .box .box-bottom {
    height: 20px;
}

#content .box .box-content {
    padding: 6px 30px;
}

.box.one-third-width {
    width: 340px;
}

.box.one-third-width .box-top {
    background: transparent url(/images/theme/third-width-top.png) no-repeat;
}

.box.one-third-width .box-content {
    background: transparent url(/images/theme/third-width-mid.png) repeat-y;
}

.box.one-third-width .box-bottom {
    background: transparent url(/images/theme/third-width-bot.png) no-repeat;
}

.red.box.one-third-width .box-top {
    background: transparent url(/images/theme/third-width-top_r.png) no-repeat;
}

.red.box.one-third-width .box-content {
    background: transparent url(/images/theme/third-width-mid_r.png) repeat-y;
}

.red.box.one-third-width .box-bottom {
    background: transparent url(/images/theme/third-width-bot_r.png) no-repeat;
}

.blue.box.one-third-width .box-top {
    background: transparent url(/images/theme/third-width-top_b.png) no-repeat;
}

.blue.box.one-third-width .box-content {
    background: transparent url(/images/theme/third-width-mid_b.png) repeat-y;
}

.blue.box.one-third-width .box-bottom {
    background: transparent url(/images/theme/third-width-bot_b.png) no-repeat;
}

.box.two-thirds-width {
    width: 680px;
}

.box.two-thirds-width .box-top {
    background: transparent url(/images/theme/two-thirds-width-top.png) no-repeat;
}

.box.two-thirds-width .box-content {
    background: transparent url(/images/theme/two-thirds-width-mid.png) repeat-y;
}

.box.two-thirds-width .box-bottom {
    background: transparent url(/images/theme/two-thirds-width-bot.png) no-repeat;
}

.red.box.two-thirds-width .box-top {
    background: transparent url(/images/theme/two-thirds-width-top_r.png) no-repeat;
}

.red.box.two-thirds-width .box-content {
    background: transparent url(/images/theme/two-thirds-width-mid_r.png) repeat-y;
}

.red.box.two-thirds-width .box-bottom {
    background: transparent url(/images/theme/two-thirds-width-bot_r.png) no-repeat;
}

.blue.box.two-thirds-width .box-top {
    background: transparent url(/images/theme/two-thirds-width-top_b.png) no-repeat;
}

.blue.box.two-thirds-width .box-content {
    background: transparent url(/images/theme/two-thirds-width-mid_b.png) repeat-y;
}

.blue.box.two-thirds-width .box-bottom {
    background: transparent url(/images/theme/two-thirds-width-bot_b.png) no-repeat;
}

.box.half-width {
    width: 510px;
}

.box.half-width .box-top {
    background: transparent url(/images/theme/half-width-top.png) no-repeat;
}

.box.half-width .box-content {
    background: transparent url(/images/theme/half-width-mid.png) repeat-y;
}

.box.half-width .box-bottom {
    background: transparent url(/images/theme/half-width-bot.png) no-repeat;
}

.red.box.half-width .box-top {
    background: transparent url(/images/theme/half-width-top_r.png) no-repeat;
}

.red.box.half-width .box-content {
    background: transparent url(/images/theme/half-width-mid_r.png) repeat-y;
}

.red.box.half-width .box-bottom {
    background: transparent url(/images/theme/half-width-bot_r.png) no-repeat;
}

.blue.box.half-width .box-top {
    background: transparent url(/images/theme/half-width-top_b.png) no-repeat;
}

.blue.box.half-width .box-content {
    background: transparent url(/images/theme/half-width-mid_b.png) repeat-y;
}

.blue.box.half-width .box-bottom {
    background: transparent url(/images/theme/half-width-bot_b.png) no-repeat;
}

.box.full-width {
    width: 1020px;
}

.box.full-width .box-top {
    background: transparent url(/images/theme/full-width-top.png) no-repeat;
}

.box.full-width .box-content {
    background: transparent url(/images/theme/full-width-mid.png) repeat-y;
}

.box.full-width .box-bottom {
    background: transparent url(/images/theme/full-width-bot.png) no-repeat;
}

.red.box.full-width .box-top {
    background: transparent url(/images/theme/full-width-top_r.png) no-repeat;
}

.red.box.full-width .box-content {
    background: transparent url(/images/theme/full-width-mid_r.png) repeat-y;
}

.red.box.full-width .box-bottom {
    background: transparent url(/images/theme/full-width-bot_r.png) no-repeat;
}

.blue.box.full-width .box-top {
    background: transparent url(/images/theme/full-width-top_b.png) no-repeat;
}

.blue.box.full-width .box-content {
    background: transparent url(/images/theme/full-width-mid_b.png) repeat-y;
}

.blue.box.full-width .box-bottom {
    background: transparent url(/images/theme/full-width-bot_b.png) no-repeat;
}

.box.live {
    width: 1020px;
}

.box.live .box-top {
    background: transparent url(/images/theme/livetop.png) no-repeat;
}

.box.live .box-content {
    background: transparent url(/images/theme/livemid.png) repeat-y;
}

.box.live .box-bottom {
    background: transparent url(/images/theme/livebot.png) no-repeat;
}

#content .box.live .box-top {
    height: 12px;
}

#content .box.live .box-content {
    padding: 0 10px;
}

#content .box.centered {
    float: none;
    margin: 0 auto;
}

#content .box.right {
    float: none;
    margin: 0 0 0 auto;
}

/* Box form layout and styles */

#content .box.form table {
    margin: 0 auto;
}

#content .box.form p,
#content .box.form h1 {
    /*	text-align: center; */
}

#content .box.form h1 {
    padding: 0 0 12px 0;
}

.box h1 {
    color: #000000;
}

.blue.box h1 {
    color: #144f4f;
}

.red.box h1 {
    color: #c83400;
}

table.form {
    border-collapse: collapse;
}

table.form th {
    font-size: 11pt;
    padding: 12px 0 6px 0;
    margin-bottom: 6px;
    /*	border-bottom: 2px solid #c83400;*/
    text-align: right;
}

table.form td {
    font-size: 11pt;
    margin: 0;
    padding: 4px;
}

table.grey.form td {
    background-color: #f9f9f9;
}

.form select,
.form textarea,
.form input {
    font-family: 'Lato', Arial, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    /*	color: #144f4f; */
    color: #333;
    padding-left: 2px;
}

.form select * {
    padding: 0 4px;
}

.form input::-moz-focus-inner {
    border: none;
}

.form input[type="checkbox"] {
    font-weight: bold;
    font-size: 14pt;
    padding: 2px;
}

.form input[type="radio"] {
    width: 20px;
}

.form input[type="submit"], [type="button"] {
    font-size: 11pt;
    font-weight: bold;
    margin: 0 6px;
    background: #ccc url(/images/theme/submit.png) top left no-repeat;
    padding: 0 0 2px 0;
    width: 120px;
    height: 32px;
    border: none;
    outline: none;
}

.form input:hover[type="submit"], [type="button"] {
    color: #fff;
    background-position: 0 -64px;
}

.form input:focus[type="button"],
.form input:active[type="button"],
.form input:focus[type="submit"],
.form input:active[type="submit"] {
    color: #fff;
    background-position: 0 -32px;
}

.form select,
.form textarea,
.form input[type="text"],
.form input[type="password"] {
    border: 1px solid #144F4F;
    font-weight: bold;
    padding: 2px 4px;
}

table.form td.text {
    font-size: 11pt;
    padding: 4px 8px;
}

table.form td.submit {
    background-color: #fff;
    text-align: center;
    padding-top: 12px;
}

table.form td.required input[type="text"]:hover,
table.form td.required input[type="text"]:active,
table.form td.required input[type="text"]:focus {
    background-color: #ffeeee;
}

/* General form element styles */

.star {
    color: #c83400;
    font-size: 14pt;
}

/* Footer */

#footer {
    padding: 40px 0;
    text-align: center;
    font-size: 10pt;
    clear: both;
}

#footer .logo {
    border-bottom: 1px dotted #C83400;
    margin: 6px 100px;
    padding: 6px;
}

#footer .legal {
    padding-top: 12px;
}

#footer .links li {
    display: inline;
    padding: 0 4px;
}

#footer a {
    color: #366;
    font-weight: bold;
    text-decoration: none;
}

#footer a:active,
#footer a:focus,
#footer a:hover {
    color: #c83400;
    font-weight: bold;
    text-decoration: underline;
}

/* <A> button styles */

#content a.button,
#content a.button:hover,
#content a.button:focus,
#content a.button:active {
    border-bottom: 0 solid #fff;
}

#content a.button::-moz-focus-inner {
    border: none;
}

#content a.button {
    background: transparent url(/images/theme/button2.png) no-repeat top left;
    display: block;
    line-height: 14px;
    padding: 7px 0 9px 0;
    text-align: center;
    text-decoration: none;
    width: 205px;
    height: 15px;
    font-size: 11pt;
    font-weight: bold;
    color: #229396;
}

#content a.button:hover {
    color: white;
    background-position: left -60px;
}

#content a.button:focus,
#content a.button:active {
    color: white;
    background-position: left -30px;
}


.landing {

}

.landing img.large-logo {
    float: left;
}

.landing .easiest-way {
    float: left;
    padding-left: 20px;
    padding-top: 56px;
    width: 500px;
}

.landing .login {
    border: 1px solid #f0f0f0;
    margin-right: 24px;
    margin-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

#content .landing .login h2 {
    padding-top: 30px;
}

.landing .login table.form {
    width: 100%;
}

.landing .login table.form td {
    text-align: left;
}

.landing .ios7-images {
    float: left;
    text-align: center;
    padding-top: 20px;
}

.landing img.ios7-phone {
    width: 220px;
}

.landing img.app-store {
    width: 192px;
    padding-top: 10px;
}

/* Helper classes */

#content td.centered {
    text-align: center;
}

#content td.right {
    text-align: right;
}

#content td.center {
    text-align: center;
}

.clear {
    clear: both;
}


/* ****************************************************************************************************************** *
 * GWT styles
 * ****************************************************************************************************************** */

/* Dialog box */

/* Box left */
.gwt-DialogBox .dialogTopLeft {
    width: 20px;
    background: transparent url(/images/theme/full-width-top-left-vertical_g.png) no-repeat top left ;
}

.gwt-DialogBox .dialogMiddleLeft {
    width: 20px;
    background: transparent url(/images/theme/full-width-mid-left_g.png) repeat-y;
}

/* Box top */
.gwt-DialogBox .dialogTopCenter {
    background: transparent url(/images/theme/full-width-top-mid_g.png) repeat-x top left;
    padding-top: 20px;
}

/* Box right */
.gwt-DialogBox .dialogTopRight {
    width: 20px;
    background: transparent url(/images/theme/full-width-top-right-vertical_g.png) no-repeat top left;
}

.gwt-DialogBox .dialogMiddleRight {
    width: 20px;
    background: transparent url(/images/theme/full-width-mid-right_g.png) repeat-y;
}

/* Box bottom */
.gwt-DialogBox .dialogBottomLeft {
    width: 20px;
    height: 20px;
    background: transparent url(/images/theme/full-width-bot-left_g.png) no-repeat bottom left ;
}

.gwt-DialogBox .dialogBottomCenter {
    height: 20px;
    background: transparent url(/images/theme/full-width-bot-mid_g.png) repeat-x top left;
}

.gwt-DialogBox .dialogBottomRight {
    width: 20px;
    height: 20px;
    background: transparent url(/images/theme/full-width-bot-right_g.png) no-repeat bottom right;
}

div.dialogTopCenterInner div.Caption {
    background-color: #999;
    text-align: left;
    font-weight: bold;
    font-size: 11pt;
    padding: 4px;
}