<?xml version="1.0" encoding="UTF-8"?>

<Server port="@serv.port@" shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

  <Service name="Parabuild">

    <Connector protocol="HTTP/1.1" port="@http.port@" connectionTimeout="60000" compressionMinSize="128"
               compressableMimeType="text/html, text/xml, text/css, text/javascript, application/x-javascript, application/javascript"
               compression="on" />

    <Engine name="Parabuild" defaultHost="localhost">

      <Realm className="org.parabuild.ci.realm.Realm"/>

      <!--<Host name="localhost" appBase="app" unpackWARs="false" autoDeploy="false">-->
      <Host name="localhost" unpackWARs="true" autoDeploy="false">

        <Context path="" docBase="../app/parabuild.war" reloadable="true" privileged="true" distributable="false" tldValidation="false">

          <Manager pathname=""/>

          <JarScanner scanAllDirectories="false" scanAllFiles="false" scanClassPath="false"
                      scanBootstrapClassPath="false" scanManifest="false">
            <JarScanFilter defaultPluggabilityScan="false" defaultTldScan="false"/>
          </JarScanner>

        </Context>

        <Context path="/manager" docBase="../app/parabuild-manager.war" reloadable="false" privileged="true" distributable="false" tldValidation="false">

          <JarScanner scanAllDirectories="false" scanAllFiles="false" scanClassPath="false" scanBootstrapClassPath="false" scanManifest="false">
            <JarScanFilter defaultPluggabilityScan="false" defaultTldScan="false"/>
          </JarScanner>

        </Context>

      </Host>
    </Engine>
  </Service>
</Server>
